.scart-font *{
    font-family: "Didact Gothic", sans-serif;
}

.scart-title{
    font-size: 3.5em;
    text-align: center;
    margin:0;
    letter-spacing: 0.1em;
}

.scart-link{
    font-size: 18px;
    color:black;
    text-decoration: underline;
}

.scart-container_padding{
    padding: 0 10px;
}
.scrat-totalcell{
    color: #000;
    font-size: 18px;
}
.scart-message_green{
    color:#84d175
}

.scart-button_mrgtop{
    margin-top: 20px;
}

@media(max-width:600px){
    .scart-link{
        font-size:14px;
    }
}