html,body,#app{
    margin:0;
    padding: 0;
    height:100%;
}

*{
    box-sizing: border-box;
}

.link{
    height: auto;
}

.card-scale:hover{
    transform: translateY(-18px) scale(1.15);
    transition: all 0.5s;
}

.navbar{
    width:100%;
    box-shadow: 0px 0px 3px black;
    background-color:  #ffffff;
    margin-bottom: 2px;
}

.nav{
    width: 960px;
    margin: 0 auto;
}

.nav_item{
    height: 48px;
}

.nav_item>.link:hover{
    border-bottom: 3px solid white;
}

.nav_item .link, .nav_item button{
    display: block;
    height: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    overflow: hidden;
}

.container{
    max-width:1400px;
    margin: 0 auto;
}
.content>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,a:visited{
    text-decoration: none;
}

aside{
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid rgb(192, 192, 192);
    /* box-shadow: 0px 5px 10px black; */
}


.footer{
    flex: 0 0 auto;
}

.not_mobile{
    display: none;
}


.card>div:hover{
    box-shadow: 0px 3px 25px rgb(43, 43, 43);
    transition: box-shadow 0.4s;
}

.backcolor_primary{
    background-color: #fff;
}

.backcolor_secondary{
    background-color: #000;
}


.wordWrap{
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

/* cart amount*/
.cartButton{
    background-color: #eeeeee;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
}

.cartButton:hover{
    color:rgb(114, 114, 114);
}

.cartButton-value{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 100%;
}

.cartButton-container{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    border:1px solid rgb(201, 201, 201);
    border-radius: 3px;
    width: 72px;
    background-color: white;
}

.cartButton-container>input{
    width: 40px;
    margin:0 5px;
    text-align: center;
}

.cartButton-container::selection{
    background-color: transparent;
}

/*small pagi buttons*/


@media all and (max-width:1090px){
    .mobile900{
        display: none;
    }

    .not_mobile{
        display: block;
    }
}

@media all and (max-width:600px){
    .mobile600{
        display: none;
    }
    #filtres{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #filtres>div{
        margin: 20px 0 0 0;
    }
    #filtres>div:last-child{
        margin: 40px 0 0 0;
    }
    .not_mobile{
        display: block;
    }
}