html,body,#app{
    margin:0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.link{
    text-decoration: none;
    height: auto;
}


.navbar{
    width:100%;
    box-shadow: 0px 0px 3px black;
}

.nav{
    width: 960px;
    margin: 0 auto;
}

.nav_item{
    height: 48px;
}

.nav_item .link, .nav_item button{
    display: block;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
}

.content>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    flex: 0 0 auto;
}