html,body,#app{
    margin:0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.link{

    height: auto;
}


.navbar{
    width:100%;
    box-shadow: 0px 0px 3px black;
    background-color:  #ffffff;
    margin-bottom: 2px;
}

.nav{
    width: 960px;
    margin: 0 auto;
}

.nav_item{
    height: 48px;
}

.nav_item>.link:hover{
    border-bottom: 3px solid white;
}

.nav_item .link, .nav_item button{
    display: block;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

.content>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,a:visited{
    text-decoration: none;
}

aside{
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid rgb(192, 192, 192);
    /* box-shadow: 0px 5px 10px black; */
}


.footer{
    flex: 0 0 auto;
}

.not_mobile{
    display: none;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 3px 25px rgb(43, 43, 43);
    transition: box-shadow 0.4s;
}

.backcolor_primary{
    background-color: #fff;
}

.backcolor_secondary{
    background-color: #000;
}

.input-range__slider {
    background: #000;
    border: 1px solid #000;
    height: 0.6rem;
    width: 0.6rem;
    margin-top: -0.4rem;
}

.input-range__track--active {
    background: #000; }

.input-range__track {
    height: 2px;
    background: #000;
}

.wordWrap{
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}


@media all and (max-width:960px){
    .mobile900{
        display: none;
    }

    .not_mobile{
        display: block;
    }
}

@media all and (max-width:600px){
    .mobile600{
        display: none;
    }
    #filtres{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #filtres>div{
        margin: 20px 0 0 0;
    }
    #filtres>div:last-child{
        margin: 40px 0 0 0;
    }
    .not_mobile{
        display: block;
    }
}